/* Define the font and color scheme for the website */
.body {
    font-family: "Helvetica Neue", sans-serif;
    color: #333;
    background-color: #eee;
}

/* Style the button */
.card-button {
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 8px;
    height: 1rem;

}

/* Style the button hover state */
.card-button:hover {
    background-color: #555;
}

.build-item a {
    font-size: 12px;
    text-decoration: none;
    color: black;
}
/* Style the card */
.build-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
    padding: 5px;
    height: 8rem;
    width: 8rem;
    max-height: calc(100vh - 140px);
    max-height: calc(50vh / 3);
}

.item-img {
    height: 3rem;
    width: 3rem;
}

/* Style the image */
.card-img {
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
    transition: opacity 0.5s ease-in-out;
}

/* Style the loading state for the image */
.loading {
    opacity: 0;
}

/* Style the text */
.card-h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 10px;
}
