.body-container-sm {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.App-sm {
    height: 100vh;
    width: 100vw;
}

.layout-wrapper-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    height: 80vh;
    width: 90%;
    margin: auto;
    justify-self: center;
    align-self: center;
}

a {
    height: 100%;
    width: 100%;
}
.sorcs-sm,
.incants-sm,
.ashes-sm {
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

.incants-sm {
}
.flex-container-sm {
    display: flex;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 90vw; */
    width: 75vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.flex-container-sm * {
    width: 100%;
}
.button-sm {
    height: 5em;
    width: 10em;
    grid-column: 2;
    grid-row: 1;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container,
.select-menu-container-sm,
.starting-class-sm,
.shield-sm {
    margin-right: 20px;
}
.weapons-sm {
    grid-row: 2;
    grid-column: 1;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
}

.starting-class-sm {
    height: 10em;
    width: 5em;
}

.sorcs-incants-sm {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
}

.item-name-container {
    background-color: white;
    color: black;
    z-index: 100;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    height: 140px;
    width: 140px;
    display: flex;
    flex-direction: row;
    border: 1px solid #c7c7c7;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    margin: 5px;
    font-size: 12px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-img {
    height: 7rem;
    width: 7rem;
    justify-self: center;
    align-self: center;
}

h1 {
    display: none;
}

.armor-sm,
.incants-sm {
}
.armor-sm {
    display: flex;
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    align-self: center;
}

.talismans-sm {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
}

.ashes-sm {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    justify-self: center;
    align-self: center;
}

.secondary-items-sm {
    display: flex;
    height: 10em;
    width: 5em;
}

.item-desc {
    display: none;
    font-size: 8px;
}

.class-img {
    height: 10rem;
    width: 7rem;
    justify-self: center;
    align-self: center;
}

.button-class-container {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.weapons-shield-container {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-self: center;
    align-self: center;
}

.ashes-spirits-sm {
    display: flex;
    justify-self: center;
    align-self: center;
}

.footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
}

.footer p {
    text-align: center;
    margin: auto;
}
.sorcs-sm,
.incants-sm,
.armor-sm,
.weapons-sm,
.talismans-sm,
.ashes-sm,
.spirits-sm,
.weapons-shield-container,
.sorcs-incants-sm,
.ashes-spirits-sm,
.button-class-container {
    display: flex;
    gap: 10px;
    width: 50%;
}

.starting-class-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    width: 50%;
}
.button-class-container,
.weapons-shield-container,
.armor-sm,
.sorcs-incants-sm,
.talismans-sm,
.ashes-spirits-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.spirits-sm {
    justify-content: center;
    align-items: center;
}

.button-class-container {
    width: 50%;
}

.spirits-sm,
.ashes-sm,
.talismans-sm {
    display: flex;
    /* margin: auto; */
}

.talismans-sm .item {
    display: flex;
}

.item span {
    text-align: center;
}

.select-menu-container-sm {
    display: grid;
    grid-template-rows: repeat(2, 0.5fr);
    grid-template-columns: repeat(3, 0.5fr);
    gap: 10px;
}

.flex-row-1,
.flex-row-2,
.flex-row-3 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.flex-row-3 {
    flex-wrap: wrap;
}

.form {
    display: flex;
}
